* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  padding: 20px;
  color: #495057;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
  color: #495057;
}

header p {
  font-size: 1.2rem;
  color: #adb5bd ;
}

a {
  color: #74c0fc;
}

header .banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E4F2FF;
  height: 200px;
  width: 100%;
  padding-right: 0;
}

header .banner h1 {
  font-size: 3rem;
  color: #000000;
  margin: 0;
  text-align: left;
  padding-left: 100px;
}

header .banner img {
  height: auto;
  max-height: 100%;
  width: auto;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.uniwaste_screens {
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;  
  gap: 10px; 
}

.uniwaste_screens img {
  max-height: 400px;
}

.uniwaste_screens figcaption {
  text-align: center;
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
}

section figure {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

section img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

section figcaption {
  font-size: 1rem;
  color: #444444;
  margin-top: 10px;
}

#about p {
  text-align: center;
  margin-bottom: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.project-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 15px;
}

.project-card p {
  color: #666;
  font-size: 1rem;
  margin-top: 10px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-card:hover {
  transform: scale(1.03);
}

footer {
  text-align: center;
  margin-top: 40px;
}

footer a {
  color: #007BFF;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.content-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #007BFF;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.sticky-navigation {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%); /* Vertically center the arrows */
  padding: 0 10px;
  width: 100%;
}

.nav-button-unisafka {
  background-color: #E4F2FF;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.nav-button-sportuni {
  background-color: #5C1BB8;
  color: #FFFBF5;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.nav-button-budgetbuddy {
  background-color: #03624C;
  color: #FDFDFD;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

.nav-button:hover {
  background-color: #555;
}

.left {
  text-align: left;
  margin-left: 20px;
}

.right {
  text-align: right;
  margin-right: 20px;
}

.back-to-homepage {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.back-button {
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
}